<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
	
	<!-- <bean id = "parenttriangle" class = "org.sourabh.spring.Triangle">
		<property name="pointA" ref = "pointA"/>
	</bean>
	
	
	<bean id = "triangle1" class = "org.sourabh.spring.Triangle" parent = "parenttriangle">
		<property name="pointB" ref = "pointC"/>
		<property name="pointC" ref = "pointC"/>
	</bean>
	
	<bean id = "triangle2" class = "org.sourabh.spring.Triangle" parent = "parenttriangle">
		<property name="pointB" ref = "pointB"/>
	</bean> -->
	
	<bean id = "triangle" class="org.sourabh.spring.Triangle" autowire = "constructor" init-method = "myInit" destroy-method= "cleanup">
		<property name="pointA" ref = "pointA"/>
		<property name="pointB" ref = "pointB"/>
		<property name="pointC" ref = "pointC"/>

																	
	</bean>
	

		<bean id = "pointA" class = "org.sourabh.spring.Point">
			<property name = "x" value = "0"/>
			<property name = "y" value = "0"/>
		</bean>
		
		<bean id = "pointB" class = "org.sourabh.spring.Point">
			<property name = "x" value = "-20"/>
			<property name = "y" value = "0"/>
		</bean>
		
		<bean id = "pointC" class = "org.sourabh.spring.Point">
			<property name = "x" value = "20"/>
			<property name = "y" value = "0"/>
		</bean>

</beans>